//----- Baseline stylings for project ---- //
@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@100;400;700&display=swap');
@import './fonts.scss';

html, body {
  border: 0;
  font-family: 'Gothic A1', sans-serif;
  font-size: 100%;
  font-style: inherit;
  font-weight: inherit;
  min-height: 100vh;
  margin: 0;
  outline: 0;
  padding: 0;
  // vertical-align: baseline;
  background-color: #A1CFD6;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
}

.nav-links li {
  display: inline-block;
  padding: 0px 20px;
  cursor: pointer;
  // transition: all 0.3s ease 0s;
}

// .nav-links li:hover {
//   color: white;
// }

// #A1CFD6
// rgba(249, 232, 50, 0.975)